<%= form_for @comment do |f| %>
<%= f.text_area :content %>
<br>
<%= f.hidden_field :pitch_id, value: @pitch.id%>
<%= f.hidden_field :user_id, value: @user%>
<br>
<div id='comment-submit'><%= f.submit %></div>
<% end %>
