<body class="bg-2">
<div id="pitch-form">
<br>
<center><h2><%= @pitch.title %></h2>
  <div class="wrapper clearfix">
    <div id="video">
      <iframe width="512" height="385" src=<%= @pitch.url %> frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="backing">
    <br><br><br><br>
      <div class="progress">
        <div class="progress-bar" style="width: <%= @votes %>0%;"></div>
      </div>
      <ul>
        <p>Vote Count <%= @votes %> | 10 days left</p>
      </ul>
      <div id="progress_bg" class="small">
        <div id="progress" ></div>
      </div>
      <div id="vote_button">
<%= link_to 'Vote', pitch_vote_path(pitch_id: @pitch.id), method: :post, class: "btn btn-primary" %>
  </div>
<br>

    <div id="create_comment">
      <%= button_to 'Comment', new_comment_path(pitch_id: @pitch.id) %>
    </div>

<div id="show_comment" style="display: none;">
<%= form_for @comment_form do |f| %>
<%= f.text_area :content %>
<br>
<%= f.hidden_field :pitch_id, value: @pitch.id%>
<%= f.hidden_field :user_id, value: @user%>
<br>
<div id='comment-submit'><%= f.submit "Post" %></div>
<% end %>
</div>

<div id="comment_list" align="center">
  <ul style="list-style: none">
    <% @comments.each do |comment|%>
      <li><%= comment.content %>
    <% end %>
  </ul>
</div>
</center>
</div>
 </body>